@media only screen and (max-width:815px) {
    .col.span_5.view_jobs{width:auto;float:left;}
    .col.span_7.view_faq {float: right;width: auto;}
    .search_buttons{margin-top:0px;}
    .search_buttons a.reset{clear:none;}
    .col.span_7.section_left{width:auto;}
    .serach_main_lists{border:0px;}
    .span_5.section_right {margin-top: 30px;width: auto;}
    .search_main_block .inner_block div.search_buttons {margin-top: 20px;}
    .container.main #work-with-us.page .gallery_join .two_sections{position: absolute;}
     #wrapper .tab_content_full .tab_content_left .form_submission form{width:95%;}
    .column-content span.tab_option{height:70px;}
    #wrapper .tab_content_full .tab_content_left div.submission{width: 90%;}
    .search_main_block .inner_block .job_select{width:46%;margin-bottom: 20px;}
}