@media only screen and (max-width:335px) {
  
  .search
  {
    width:13%;
  }
  
  div.collapsed
  {
    width:18%;
  }
  
  #our-maisons .inner_content
  {
    padding:20px;
  }
  
  #wrapper .page_3 .maisons_head h2
  {
    font-size:2.8em;
    text-align:left;
    margin-top:0;
  }
  
  .page_5 .maisons_head p
  {
    line-height:25px;
    text-align:left;
    clear:both;
    font-size:1.5em;
    float:left;
    margin:0;
  }
  
  .maisons_lists
  {
    margin-top:25px;
  }
  
  .maisons_lists ul li
  {
    width:50%;
  }
  
  .our_maison_gallery .maison_main_content
  {
    padding:20px 30px;
  }
  
  .our_maison_gallery a.maison_close
  {
    padding-right:30px;
  }
  
  .page_3 .maisons_head p
  {
    clear:both;
     text-align: left;
  }
  
  .mobile_maison_lists
  {
    display:block;
    padding:0;
  }
  
  .maisons_head,.page_5 .maisons_head
  {
    width:100%;
    overflow:hidden;
  }
  
  .search_block .submit
  {
    width:25%;
  }
  
  .page_1 .row span.scroll_down
  {
    display:block;
    float:none;
    margin:40px auto 30px;
  }
  
  .page_1 .second_row .col.span_8
  {
    text-align:center;
    width:100%;
  }
  
  #wrapper .page_1 h2
  {
    font-size:2.2em;
    margin-top:85px;
  }
  
  .page_1 .row .inner_block
  {
    border:0 none;
    float:none;
    overflow:hidden;
    width:110px;
    margin:0 auto;
    padding:0;
  }
  
  .page_1 .row .inner_block input[type=submit]
  {
    font-size:1.2em;
    padding:7px 15px;
  }
  
  #wrapper h2.mobile_header
  {
    display:block;
    line-height:40px;
    float:left;
    color:#00436e;
    font-size:3.4em;
    padding-left:10px;
    margin:0;
  }
  
  #our-world img.section_bg
  {
    top:75px;
  }
  
  #our-world,#work-with-us
  {
    background-color:#FFF;
    margin-bottom:40px;
    padding-top:25px;
  }
  
  .col.span_5 .our_world
  {
    background:none;
    height:auto;
    margin:0;
    padding:135px 0 0;
  }
  
  .page_2 .two_sections .section_one
  {
    float:none;
    width:260px;
    margin:0 auto 15px;
  }
  
  .page_2 .two_sections .section_two
  {
    margin:0 auto 20px;
  }
  
  #our-maisons .inner_content,#why-join-us .inner_content,#work-with-us .inner_content,#our-world .inner_content
  {
    padding:10px;
  }
  
  #wrapper .page_3 .maisons_head h2,#wrapper #why-join-us h2,#wrapper .page_5 .maisons_head h2
  {
    font-size:3.4em;
    float:left;
    padding-bottom:10px;
    padding-top:10px;
    margin:0;
  }
  
  #wrapper #why-join-us h2
  {
    padding-bottom:50px;
    font-size:4em;
    line-height:40px;
    padding-top:40px;
  }
  
  #why-join-us .inner_content
  {
    padding-top:0;
    padding-bottom:0;
    background:#f7f7f7;
  }
  
  #why-join-us .maisons_head p
  {
    font-size:1.5em;
    padding: 0 10px;
  }
  
  .maisons_head h3
  {
    font-size:2em;
  }
  
  .maisons_lists ul li a,.maisons_lists ul li a img
  {
    height:100%;
  }
  
  .maisons_lists ul li.lightbox-open a
  {
    background:none repeat scroll 0 0 #00436E;
  }
  
  .maisons_lists ul li.lightbox-open img.overlay
  {
    opacity:1;
  }
  
  .maisons_lists ul li.lightbox-open
  {
    border-bottom:1px solid #B8B8B8;
    border-right:1px solid #B8B8B8;
  }
  
  .videos
  {
    float:none;
    width:297px;
    margin:30px auto;
  }
  
  .section_main.mr,.videos .section_one,.tab_content_right
  {
    margin-right:0;
  }
  
  .tab_content_left form
  {
    width:auto;
  }
  
  .videos .section_one
  {
    margin-bottom:15px;
  }
  
  #work-with-us img.section_bg
  {
    top:155px;
  }
  
  a.mobile_link
  {
    display:block;
    color:#00436E;
    font-family:georgia;
    font-size:1.4em;
    font-style:italic;
    font-weight:700;
    padding:12px 0;
  }
  
  #work-with-us a.prev.mobile_link
  {
    float:left;
    margin-left:10px;
  }
  
  #work-with-us a.prev.mobile_link.inactive
  {
    opacity:0.4;
  }
  
  #work-with-us a.next.mobile_link
  {
    float:right;
    margin-right:10px;
  }
  
  .gallery_join .col.span_5 .our_world
  {
    height:auto;
    width:100%;
  }
  
  .container.main #work-with-us.page .gallery_join .two_sections
  {
    position:static;
    width:100%;
    margin-top:0;
  }
  
  .tab_content_left label
  {
    font-size:1.4em;
    padding-bottom:7px;
  }
  
  .tab_content_left form input[type=button]
  {
    float:right;
    font-size:1.7em;
    font-weight:400;
    margin-top:20px;
    padding:3px 15px;
  }
  
  .tab_content_left form p
  {
    float:left;
    margin-top:23px;
  }
  
  .tab_content_left p,.our_world p,.section_text p
  {
    font-size:1.4em;
  }
  
  .two_sections .section_text
  {
    width:100%;
    margin-left:0;
  }
  
  h3.mobile_submission
  {
    display:block;
    color:#4E4E4E;
    font-size:1.5em;
    font-weight:400;
    margin:0 0 12px;
  }
  
  .tab_content_full .tab_content_left
  {
    margin-bottom:30px;
     margin-right: 0;
  }
  
  .tab_content_full .view_jobs a
  {
    font-size:2.1em;
    margin-top:13px;
    padding:8px 30px;
  }
  
  .tab_content_full .view_jobs
  {
    background:url(../img/view_jobs2.png) no-repeat scroll left top transparent;
    height:169px;
    float:left;
    margin-top:25px;
    padding:12px;
  }
  
  .tab_content_full .view_jobs p
  {
    font-size:2.7em;
    line-height:35px;
    width:auto;
  }
  
  .tab_content_right,.tab_content_left,.page_5 .maisons_head h2,.page_5 .maisons_head p
  {
    padding-left:12px;
    padding-right:12px;
  }
  
  .footer_left,.footer_right
  {
    float:left;
    margin:0 10px;
  }
  
  .scroll_top img
  {
    bottom:72px;
  }
  
  .footer_main .col.span_6
  {
    padding:5px 0;
  }
  
  #career-paths .inner_content
  {
    padding:10px 0;
  }
  
  .page_6 .two_sections .section_one
  {
    width:100%;
    margin:0;
  }
  
  #wrapper .view_jobs h1
  {
    font-size:3.4em;
    float:left;
    margin:0 0 12px;
  }
  
  .jobs_main_content
  {
    margin:47px 15px 0;
  }
  
  .view_faq h3
  {
    margin:10px 0 0;
  }
  
  #wrapper .search_main_block h2
  {
    font-size:1.6em;
  }
  
  .search_main_block .inner_block
  {
    padding:12px 10px 20px;
  }
  
  .search_main_block .inner_block div
  {
    position:relative;
    margin:0 0 3px;
  }
  
  .search_main_block .inner_block div select.hasCustomSelect
  {
    top:33px!important;
    left:0!important;
  }
  
  .search_main_block .inner_block div.search_buttons
  {
    margin-top:20px;
    width:100%;
  }
  
  .serach_main_lists
  {
    margin-left:0;
    border:0;
    padding:0;
  }
  
  .search_list div h4
  {
    font-size:1.2em;
  }
  
  .search_list div.img_desc
  {
    clear:both;
    width:100%;
    text-align:left;
  }
  
  .search_list div.img_date
  {
    clear:both;
    font-size:1.2em;
    margin-top:4px;
    width:auto;
  }
  
  .search_list div.img_details
  {
    float:right;
    width:auto;
  }
  
  .section_right
  {
    width:100%;
    padding:25px 0 0;
  }
  
  .section_right p
  {
    margin-bottom:25px;
  }
  
  .view_faq
  {
    bottom:85px;
    display:block;
    position:relative;
  }
  
  .search_main_block .inner_block .save_search
  {
    display:block;
    float:right;
    width:170px;
  }
  
  .search_main_block .save_search input
  {
    display:block;
    float:right;
  }
  
  #our-world .col.span_5 .our_world
  {
    margin-left:0;
    padding:120px 0 0;
    margin-right: 0;
  }
  
  .tab_content_left select,.tab_content_left span.customSelect
  {
    clear:none;
    float:left;
    left:0!important;
    right:auto!important;
    top:30px!important;
  }
  
  .creativity_head .bg_img
  {
    background:none;
    height:auto;
  }
  
  .creativity_head .bg_img img
  {
    float:left;
    width:100%;
  }
  
  .join_us_gallery .maison_prev
  {
    background:none;
    text-indent:0;
    float:left;
    color:#00436E;
    display:block;
    font-family:georgia;
    font-size:1.4em;
    font-style:italic;
    font-weight:700;
    margin:0 0 0 -20px;
    padding:12px 0;
  }
  
  header .logo_blk,.search_block .textbox
  {
    width:69%;
  }
  
  .maisons_lists ul,.search_results .section_left,.search_list div.img_block,.videos .section_one,.footer_main .col.span_6
  {
    width:100%;
  }
  
  .tab_content_full .tab_content_right,.section_main.ml,.tab_content_left
  {
    margin-left:0;
  }
  
  .page_2 .two_sections,.tab_content_full .view_jobs,.jobs_main_content .quick_search,.section_right input[type=button]
  {
    margin:0;
  }
  
  .search_main_block,.result_list h3
  {
    margin:18px 0 0;
  }
  
  .join_us_gallery .maison_next
  {
    background:none;
    text-indent:0;
    float:right;
    color:#00436E;
    display:block;
    font-family:georgia;
    font-size:1.4em;
    font-style:italic;
    font-weight:700;
    text-align:right;
    margin:0 -9px 0 0;
    padding:12px 0;
  }
  
  .creativity_head
  {
    clear:both;
    background:none repeat scroll 0 0 #DADADA;
    margin-bottom:0;
  }
  
  .tab_content .main_cont
  {
    background:none repeat scroll 0 0 #DADADA;
    padding-bottom:18px;
    margin-bottom:15px;
    position:static;
  }
  
  .creativity_head .bg_img h5
  {
    width:auto;
    color:#787878;
    overflow:hidden;
  }
  
  .videos,.page_4 .videos .section_one
  {
    margin-bottom:0;
    width:100%;
  }
  
  .page_4 .social_links
  {
    margin-top:35px;
  }
  
  .join_us_gallery .maison_prev,.join_us_gallery .maison_next
  {
    top:86px;
  }
  
  .tab_content_right div a
  {
    margin-left:20px;
    display:block;
  }
  
  #wrapper #why-join-us .bg_img h2,#why-join-us
  {
    padding-bottom:10px;
  }
  
  .tab_content_left form div,#work-with-us
  {
    margin-bottom:0;
  }
  
  .section_text h3,.search_results
  {
    margin-top:0;
  }
  
  .header_right ul.first_row,.page_1 .first_row,.page_1 .second_row .col.span_4,.page_1 .third_row,.page_1 .row .quick_search,.page_1 .row span,.our-world h2,.page_2 .social_links,#wrapper .our_world h2,.join_us_gallery ul,.gallery_join .our_world ul.buttons,.gallery_join .our_world a,.tab_content_right img,.tab_content_left h3,.pagination,.search_buttons input,.view_faq,.maisons_lists ul li.join-us
  {
    display:none;
  }
  
  div.collapsed:hover .menu_list,.search.mobile_search:hover .search_block,a.search_icon:hover .search_block,.creativity_head .bg_img img,.creativity_head .bg_img h2,.creativity_head .bg_img h5
  {
    display:block;
  }
  .page_4 .videos .section_one{margin-bottom:16px;}
  .page_4 .videos .section_one.last-video{margin-bottom:0px;}

  #wrapper #our-world .our_world h2{ display: block;padding:0px;font-size: 3.4em;position: relative;top: -130px;}
  .gallery_join .our_world a.prev, .gallery_join .our_world a.next{display:block;position: relative;top: -576px;}
  #work-with-us .gallery_container{ position: relative;top: -145px;width: 100;}
  #work-with-us .gallery_container .content h2{display: block;margin-top: -4px;padding-bottom: 190px;}
  #wrapper #work-with-us .our_world h2{top:-703px;font-size:3.4em;}
  #work-with-us .gallery_join .our_world a.prev, #work-with-us .gallery_join .our_world a.next{top: -737px;}
  #wrapper .jobs_main_content .view_jobs h2{margin-left:0px;float:left;}
  #wrapper .jobs_main_content .view_jobs h3{float:right;margin-right:0px;display: block;}
  #wrapper .jobs_main_content .view_jobs h3 a{background: none;border:0px;color:#00436e;margin-right: 0px;padding-right: 0px;}
  #wrapper .jobalert .section_left{margin-left: 0px;}
  #wrapper .column-content .terms-condition h2.language3, #wrapper .column-content .view_jobs h2{font-size:2.4em;}
  .column-content ul{padding-left: 0px;}
  .column-content ol{padding-left: 25px;}
  .column-content span.tab_option{height:200px;}
  #wrapper .faq.right_section{width:87%;}
  #wrapper .terms-condition h2{font-size: 2em;}
  
}