@media only screen and (max-width:768px) {
  header{background:#0f0;}
  #wrapper .page_1 h2{font-size:1.4em;}
  .page_1 .row span.scroll_down{height:52px;}
  .page_1 .first_row, .page_1 .second_row .col.span_4, .page_1 .third_row, .page_1 .row .quick_search, .page_1 .row span{display:none;}
  .page_1 .row span.scroll_down{display: block; margin: 40px auto 30px;float: none;}
  .page_1 .second_row .col.span_8{text-align: center;width:100%;}
  #wrapper .page_1 h2{font-size:2.2em; margin-top: 100px;}
  .page_1 .row .inner_block {border: 0 none;float: none;margin: 0 auto;overflow: hidden;padding: 0;width: 110px;}
  .page_1 .row .inner_block input[type="submit"]{font-size:1.2em;padding:7px 15px;}
  .col.span_5 .our_world, .tab_content_left{margin-right:35px;margin-bottom: 30px;}
  .page_2 .two_sections, .page_6 .two_sections{margin-top:30px;}
  .page_6 .two_sections{width:100%;}
  .page_6 .two_sections .section_one, .page_2 .two_sections .section_one{margin-left:20px;}
  .page_6 .two_sections .section_two, .page_2 .two_sections .section_two{margin-left:0px;}
  .tab_content_right{margin-left:30px;margin-top:35px;}
  .tab_content_right div a, .section_text{float:left;margin-left:30px;}
  .section_text{margin-left: 25px;}
  .tab_content_right div a{margin-left: 35px;}
  .tab_content_full .view_jobs {padding: 22px;margin-left:30px;}
  .tab_content_left form div label{padding-bottom:5px;}
  .creativity_head .bg_img h2, .creativity_head .bg_img h5{display:none;}
  .page_5 .maisons_head h2{font-size: 2.8em;text-align: left;margin:0px 30px;}
  .maisons_head h3{text-align:left;}
  .page_5 .maisons_head p{margin:0px 30px;}
  .maisons_head p{font-size:1.5em;line-height: 25px;text-align: left;margin:0px 0px;}
  .maisons_head, .page_5 .maisons_head{width:100%;overflow: hidden;}
  .join_us_gallery .maison_prev, .join_us_gallery .maison_next{margin-top:14%;top:-40px;}
  .gallery_join .our_world ul.buttons {left: auto;right: 10px;top: 5px;}
  .footer_main .col.span_6{width:50%;margin:0px;}
  .page_1 .social_links, .page_2 .social_links, .page_3 .social_links, .page_4 .social_links, .page_5 .social_links, .page_6 .social_links{ /*margin-left: 5px;margin-bottom: 20px;margin-top: 20px;position: static; */ display: none; }
  .page_1 .social_links ul, .page_2 .social_links ul, .page_3 .social_links ul, .page_4 .social_links ul, .page_5 .social_links ul, .page_6 .social_links ul{ margin-left: 30px;width: 150px;}
  .page_4 .social_links ul{margin:0px;}
  .page_2 .social_links ul{margin-top:100px;}
  .our_maison_gallery .maison_main_content .maison_image{display:none;/*float:none;margin:0 auto; padding: 0;height: auto;*/}
  .our_maison_gallery a.maison_next{display: none;}
  .our_maison_gallery a.maison_prev{display: none;}
  .maisons_lists ul.buttons{display: none;}
  .maison_main_content .maison_desc a{margin-top: 10px;display: block;}
  .our_maison_gallery a.maison_close{bottom: 10px;text-indent: 0;font-size: 1.2em; color:#757575; position: static; margin: 10px 0;}
  .maisons_lists ul li a:hover img.top{opacity:1;}

  #why-join-us .inner_content{background: #f7f7f7;float:left;}
  .creativity_head .bg_img{background: none;}
  .creativity_head .bg_img img{float:left;width:100%;}
  .join_us_gallery .maison_prev {background:none;text-indent:0px;float:left;color: #00436E;display: block;font-family: georgia;font-size: 1.4em;font-style: italic;font-weight: bold;padding: 12px 0;margin:0px;}
  .join_us_gallery .maison_next{background:none;text-indent:0px;float:right;color: #00436E;display: block;font-family: georgia;font-size: 1.4em;font-style: italic;font-weight: bold;padding: 12px 0;margin:0px;}
  .creativity_head .bg_img img, .creativity_head .bg_img h2, .creativity_head .bg_img h5 {display:block;}
  .creativity_head{clear:both; background: none repeat scroll 0 0 #DADADA;}
  .tab_content .main_cont{background: none repeat scroll 0 0 #DADADA;padding-bottom:18px;margin-bottom: 15px;float:left;width:100%;}
  .creativity_head .bg_img h5{width:auto;color:#787878;margin:0px 10px 10px;}
  .tab_content .main_cont{position: static;}
  .creativity_head{margin-bottom:0px;}
  .maisons_head p{display:none;}
  .videos, .page_4 .videos .section_one.last-video{margin-bottom: 0px;}
  .page_4 .social_links{margin-top:35px;}
  .creativity_head .bg_img{height:auto;}
  .join_us_gallery ul, .page_4 .maisons_head{display: none;}
  .our_maison_gallery a.maison_close{text-indent: 0;font-size: 1.2em; color:#757575; position: static; background: none; clear:both; float: none; text-align: right; width: auto;display: block;padding-right: 60px;}
  .maison_image img{ width: 100%; height: auto; }
  #wrapper .creativity_head .bg_img h2{margin:20px 10px 10px;line-height: 45px;float:left;width:100%;}
  #why-join-us .inner_content h2.align-center{margin-top:0px;padding-top:30px;}

  .container.main #work-with-us.page .gallery_join .two_sections{bottom: 0px;margin-bottom: 30px;}
  .container.main #work-with-us.page .gallery_join{position: static;}
  .page_2 .two_sections .section_one{margin-right:20px;}

  .header_main h1.col.span_4{text-align:center;}
  #our-world .col.span_5 .our_world{margin-right: 0;padding: 20px;}
  .page_2 .two_sections{margin-top:235px;}
}
