@media only screen and (max-width:768px) {
  header{background:#0f0;}
  #wrapper .page_1 h2{font-size:1.4em;}
  .page_1 .row span.scroll_down{height:52px;}
  .page_1 .first_row, .page_1 .second_row .col.span_4, .page_1 .third_row, .page_1 .row .quick_search, .page_1 .row span{display:none;}
  .page_1 .row span.scroll_down{display: block; margin: 40px auto 30px;float: none;}
  .page_1 .second_row .col.span_8{text-align: center;width:100%;}
  #wrapper .page_1 h2{font-size:2.2em; margin-top: 85px;}
  .page_1 .row .inner_block {border: 0 none;float: none;margin: 0 auto;overflow: hidden;padding: 0;width: 110px;}
  .page_1 .row .inner_block input[type="submit"]{font-size:1.2em;padding:7px 15px;}
  .col.span_5 .our_world, .tab_content_left{margin-right:35px;}
  .page_2 .two_sections, .page_6 .two_sections{margin-top:30px;}
  .page_6 .two_sections{width:100%;}
  .page_6 .two_sections .section_one, .page_2 .two_sections .section_one{margin-left:35px;}
  .page_6 .two_sections .section_two, .page_2 .two_sections .section_two{margin-left:0px;}
  .tab_content_right{margin-left:0px;margin-top:35px;}
  .tab_content_right div a, .section_text{float:left;margin-left:30px;}
  .tab_content_right div a{margin-left: 5px;}
  .tab_content_full .view_jobs {padding: 12px;margin-left:0px;}
  .tab_content_left form div label{padding-bottom:5px;}
  .creativity_head .bg_img h2, .creativity_head .bg_img h5{display:none;}
  .page_5 .maisons_head h2{font-size: 2.8em;text-align: left;margin:0px 30px;}
  .maisons_head h3{text-align:left;}
  .page_5 .maisons_head p{margin:0px 30px;}
  .maisons_head p{font-size:1.5em;line-height: 25px;text-align: left;margin:0px 0px;}
  .maisons_head, .page_5 .maisons_head{width:100%;overflow: hidden;}
  .join_us_gallery .maison_prev, .join_us_gallery .maison_next{margin-top:14%;}
  .gallery_join .our_world ul.buttons {left: auto;right: 10px;top: 5px;}
  .footer_main .col.span_6{width:50%;margin:0px;}
  .page_1 .social_links, .page_2 .social_links, .page_3 .social_links, .page_4 .social_links, .page_5 .social_links, .page_6 .social_links{ margin-left: 5px;margin-bottom: 20px;margin-top: 20px;position: static;}
  .page_1 .social_links ul, .page_2 .social_links ul, .page_3 .social_links ul, .page_4 .social_links ul, .page_5 .social_links ul, .page_6 .social_links ul{ margin-left: 30px;width: 150px;}
  .page_4 .social_links ul{margin:0px;}
  .page_2 .social_links ul{margin-top:100px;}
  .our_maison_gallery .maison_main_content .maison_image{display:none;/*float:none;margin:0 auto; padding: 0;height: auto;*/}
  .our_maison_gallery a.maison_next{display: none;}
  .our_maison_gallery a.maison_prev{display: none;}
  .maisons_lists ul.buttons{display: none;}
  .maison_main_content .maison_desc a{margin-top: 10px;display: block;}
  .our_maison_gallery a.maison_close{text-indent: 0;font-size: 1.2em; color:#757575; position: static; background: none; clear:both; float: none; text-align: right; width: auto;display: block;padding-right: 60px;}
  .maison_image img{ width: 100%; height: auto; }
}
