@media only screen and (max-width:450px) {
  .maisons_lists {width: 300px;}
  .maisons_lists ul li{width: 150px; height: 90px; }
  .maisons_lists ul li.join-us{width: 149px;height:89px; }
  .maisons_lists ul li.join-us a{margin:-18px 0px 0px -46px;}
  .maisons_lists ul li.join-us section {padding: 0px;}
  .tab_content_left select, .tab_content_left span.customSelect{left:0px !important;top:18px !important; width: 295px !important;}
  #wrapper .tab_content_full .tab_content_left input.attach{margin-left: 0px;}
}