@media only screen and (max-width:830px) {
  .maisons_lists ul{width: 570px;}
  .maisons_lists ul li.join-us{width: 570px }
  .join_us_gallery ul li{margin:0px 13px;font-size:1.5em;}
  .gallery_join .our_world ul.buttons{left:220px;width:75px;}
  #why-join-us{padding-bottom: 0px;min-height: 720px;}
  header{padding-bottom: 10px;}
}